@import url(https://fonts.googleapis.com/css?family=Poppins:300,regular,500&display=swap);

@charset "UTF-8";

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-link:before {
  content: "\e900";
}

._icon-s-github:before {
  content: "\e901";
}

._icon-s-instagram:before {
  content: "\e902";
}

._icon-s-linkedin:before {
  content: "\e903";
}

._icon-s-twitter:before {
  content: "\e904";
}

._icon-slider-arrow:before {
  content: "\e905";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #9c9c9c;
  line-height: 1;
  font-family: "Poppins";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #0d0d11;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 80rem;
  margin: 0 auto;
}

[class*=__container] {
  min-height: 100%;
  max-width: 81.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.form {
  border-radius: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.375rem;
  gap: 0.3125rem;
  position: relative;
}

.form__input {
  height: 4rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0rem 1.25rem;
  color: #263238;
  font-weight: 500;
}

.form__input::-webkit-input-placeholder {
  color: #263238;
}

.form__input::-moz-placeholder {
  color: #263238;
}

.form__input:-ms-input-placeholder {
  color: #263238;
}

.form__input::-ms-input-placeholder {
  color: #263238;
}

.form__input::placeholder {
  color: #263238;
}

.form__input._form-error {
  color: red;
}

.form__input._form-error::-webkit-input-placeholder {
  color: red;
}

.form__input._form-error::-moz-placeholder {
  color: red;
}

.form__input._form-error:-ms-input-placeholder {
  color: red;
}

.form__input._form-error::-ms-input-placeholder {
  color: red;
}

.form__input._form-error::placeholder {
  color: red;
}

.form__error {
  position: absolute;
  top: 100%;
  left: 0;
  color: red;
  font-size: 1rem;
  margin-top: 0.625rem;
  padding-left: 1.625rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__start {
  margin-bottom: 6.25rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 1.875rem;
  color: #fff;
  letter-spacing: 0.125rem;
  font-size: 0.875rem;
  line-height: 1.43;
  font-weight: 500;
  background-color: #3d96f4;
  border-radius: 50px;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.button:hover {
  background-color: #65b0ff;
}

.button_dark {
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  background: rgba(129, 129, 139, 0.2);
}

.button_dark:hover {
  background: rgba(129, 129, 139, 0.5);
}

.text {
  line-height: 1.5;
  color: #81818b;
}

.text_big {
  font-size: 1.125rem;
  color: #9c9c9c;
}

.header {
  position: fixed;
  z-index: 50;
  width: 100%;
  top: 0;
  left: 0;
  background-color: hsla(240deg, 13%, 6%, 0.71);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.1875rem;
     -moz-column-gap: 2.1875rem;
          column-gap: 2.1875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 7.25rem;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__cart {
  position: relative;
  z-index: 5;
}

.header__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  z-index: 5;
}

.menu__body::before {
  content: "";
  width: 100%;
  position: fixed;
  top: 0;
  left: -100%;
  height: 4.375rem;
  background-color: #000;
  z-index: 2;
  -webkit-transition: left 0.3s ease 0s;
  -o-transition: left 0.3s ease 0s;
  transition: left 0.3s ease 0s;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 2.1875rem;
     -moz-column-gap: 2.1875rem;
          column-gap: 2.1875rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.1875rem;
}

.menu__link {
  display: block;
  font-size: 1rem;
  line-height: 1.62;
  color: #fff;
}

.menu__link:hover {
  text-decoration: underline;
}

.cart-header {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
}

.cart-header__text {
  font-size: 1.125rem;
  line-height: 0.6428571429;
}

.cart-header__text:hover {
  text-decoration: underline;
}

.cart-header__quantity {
  background: rgba(129, 129, 139, 0.3);
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
  font-weight: 500;
}

.menu-open .menu__body,
.menu-open .menu__body::before {
  left: 0;
}

.icon-menu {
  display: none;
}

.footer__main {
  padding-top: 160px;
  padding-bottom: 160px;
}

.main-footer__container {
  display: -ms-grid;
  display: grid;
  gap: 64px;
  -ms-grid-columns: minmax(auto, 378px) auto auto minmax(auto, 378px);
  grid-template-columns: minmax(auto, 378px) auto auto minmax(auto, 378px);
}

.main-footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.social__link {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36px;
          flex: 0 0 36px;
  height: 36px;
  border: 1px solid rgba(129, 129, 139, 0.9);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: border 0.3s ease 0s;
  -o-transition: border 0.3s ease 0s;
  transition: border 0.3s ease 0s;
}

.social__link:hover {
  border: 1px solid rgb(255, 255, 255);
}

.main-footer__label {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  line-height: 1.2;
  /* 24/20 */
}

.menu-footer__list {
  display: -ms-grid;
  display: grid;
  gap: 24px;
}

.menu-footer__link {
  line-height: 1.4;
}

.menu-footer__link:hover {
  color: #fff;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.subscribe__input {
  width: 100%;
  height: 52px;
  border: 1px solid rgba(129, 129, 139, 0.3);
  border-radius: 50px;
  padding: 0px 30px;
  color: #fff;
  background-color: transparent;
}

.subscribe__input::-webkit-input-placeholder {
  color: #999999;
}

.subscribe__input::-moz-placeholder {
  color: #999999;
}

.subscribe__input:-ms-input-placeholder {
  color: #999999;
}

.subscribe__input::-ms-input-placeholder {
  color: #999999;
}

.subscribe__input::placeholder {
  color: #999999;
}

.bottom-footer {
  border-top: 1px solid rgba(129, 129, 139, 0.2);
  padding-top: 45px;
  padding-bottom: 45px;
}

.bottom-footer__copy {
  text-align: center;
  color: #9c9c9c;
}

.main {
  padding-top: 10rem;
  padding-bottom: 6.25rem;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.main__header {
  position: relative;
}

.main__header::before {
  content: "";
  background: url("../img/main/decor.svg") 0 0/100% no-repeat;
  width: 7.5rem;
  height: 7.5rem;
  position: absolute;
  top: -10px;
  left: -34px;
}

.main__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main__text {
  color: #9c9c9c;
}

.main__images {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.header-main__label {
  border: 1px solid rgba(129, 129, 139, 0.2);
  border-radius: 0.75rem;
  display: inline-block;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  color: #9c9c9c;
  padding: 0.6875rem 1.125rem;
  -webkit-transition: border 0.3s ease 0s;
  -o-transition: border 0.3s ease 0s;
  transition: border 0.3s ease 0s;
}

.header-main__label:not(:last-child) {
  margin-bottom: 1.1875rem;
}

.header-main__label:hover {
  border: 1px solid rgba(129, 129, 139, 0.4);
}

.header-main__title {
  font-weight: 500;
  font-size: 3.1875rem;
  line-height: 1.1960784314;
  color: #fff;
  max-width: 32.5rem;
  position: relative;
}

.header-main__title:not(:last-child) {
  margin-bottom: 1.75rem;
}

.header-main__text {
  color: #9c9c9c;
  line-height: 1.5;
  font-size: 1.125rem;
  max-width: 31.25rem;
}

.header-main__text:not(:last-child) {
  margin-bottom: 2.0625rem;
}

.header-main .header-main__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 0.9375rem;
}

.images-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 9.615385%;
  /* 60/624 */
}

.images-main__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.images-main__item {
  border-radius: 50%/29%;
  overflow: hidden;
}

.images-main__item img {
  max-width: 100%;
}

.images-main__item_1,
.images-main__item_4 {
  border-radius: 50%/29%;
}

.images-main__item_2 {
  border-radius: 50% 50% 0 50%;
}

.images-main__item_3 {
  border-radius: 50% 0 50% 50%;
}

.clients {
  padding-top: 6.25rem;
  padding-bottom: 4.375rem;
}

.clients__title {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  font-size: 0.875rem;
  line-height: 1.57;
  margin-bottom: 2.75rem;
}

.clients__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.9375rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.clients__item img {
  max-width: 100%;
}

.services {
  padding-top: 4.375rem;
  padding-bottom: 6.25rem;
}

.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.services__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.services__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__column:first-child {
  padding-top: 3rem;
}

.services__item:not(:last-child) {
  margin-bottom: 2rem;
}

.header-main__button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.header-main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.header-main__body .header-main__title {
  max-width: none;
}

.header-main__body .header-main__text {
  max-width: 740px;
}

.item-service {
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  padding: 3.4375rem 1.5625rem;
  display: block;
}

.item-service__icon:not(:last-child) {
  margin-bottom: 1rem;
}

.item-service__title {
  font-weight: 400;
  color: #fff;
  font-size: 1.1875rem;
  line-height: 1.4210526316;
}

.item-service__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.why {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.why__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4rem;
     -moz-column-gap: 4rem;
          column-gap: 4rem;
  row-gap: 2rem;
}

.why__images {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.why__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header-main__list li {
  position: relative;
  min-height: 2rem;
  padding-left: 2.5rem;
  color: #9c9c9c;
  padding-top: 0.25rem;
  line-height: 1.5;
  /* 24/16 */
}

.header-main__list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background: rgba(129, 129, 139, 0.1) url("../img/why/arrow.svg") center no-repeat;
}

.header-main__list li:not(:last-child) {
  margin-bottom: 1rem;
}

.images-why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.images-why::before {
  content: "";
  background: url("../img/why/decor.svg") 0 0/100% no-repeat;
  width: 7.625rem;
  height: 7.625rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

.images-why__item {
  overflow: hidden;
}

.images-why__item img {
  max-width: 100%;
}

.images-why__item_1 {
  z-index: 5;
  border-radius: 90% 0 49% 49%/50% 0 31% 31%;
}

.images-why__item_2 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-radius: 50% 50% 50% 0;
}

.advantages {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.advantages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 2rem;
}

.advantages__items {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-right: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}

.advantages__item {
  padding: 2.5rem;
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
}

.advantages__value {
  font-size: 3.1875rem;
  font-weight: 500;
  color: #fff;
}

.advantages__value:not(:last-child) {
  margin-bottom: 2rem;
}

.advantages__text {
  font-size: 1.125rem;
  line-height: 1.5;
}

.advantages__image {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 38%;
          flex: 0 0 38%;
  overflow: hidden;
  border-radius: 0 68% 60% 60%/0% 68% 50% 50%;
}

.advantages__image img {
  max-width: 100%;
  -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
          transform: scale(1.01);
}

.testimonials {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.testimonials__header {
  margin-bottom: 4rem;
}

.testimonials__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.header-main__body .header-main__actions {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.header-main__body .header-main__text {
  margin: 0;
}

.item-testimonials {
  padding: 4rem 2.5rem;
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.user-testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.user-testimonials__avatar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 68px;
          flex: 0 0 68px;
  overflow: hidden;
}

.user-testimonials__avatar img {
  max-width: 100%;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.user-testimonials__avatar_1 {
  border-radius: 0 50% 50% 50%;
}

.user-testimonials__avatar_2 {
  border-radius: 50% 0 50% 50%;
}

.user-testimonials__avatar_3 {
  border-radius: 50% 50% 0 50%;
}

.user-testimonials__title {
  line-height: 1.5;
  color: #fff;
}

.user-testimonials__title:not(:last-child) {
  margin-bottom: 7px;
}

.user-testimonials__company {
  font-size: 0.875rem;
  line-height: 1.57;
  /* 22/14 */
}

.item-testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.item-testimonial__title {
  font-size: 2rem;
  line-height: 1.4;
  /* 45/32 */
  color: #fff;
}

.item-testimonial__text {
  font-size: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  line-height: 1.5;
}

.blog {
  padding-top: 6.25rem;
  padding-bottom: 12.5rem;
}

.blog__header {
  margin-bottom: 4rem;
}

.blog__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.item-blog {
  background: rgba(129, 129, 139, 0.1);
  border-radius: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

.item-blog__header {
  position: relative;
}

.item-blog__category {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(129, 129, 139, 0.5);
  border-radius: 0 0.625rem 0 0;
  color: #fff;
  font-size: 0.875rem;
  padding: 0.625rem;
  line-height: 1.57;
}

.item-blog__image {
  display: block;
  padding-bottom: 49.238%;
  position: relative;
}

.item-blog__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-blog__body {
  padding: 2.25rem 1.625rem;
}

.item-blog__date {
  color: rgba(156, 156, 156, 0.808);
}

.item-blog__date:not(:last-child) {
  margin-bottom: 1.25rem;
}

.item-blog__title {
  color: #fff;
  font-size: 1.1875rem;
  line-height: 1.42;
}

.item-blog__title:not(:last-child) {
  margin-bottom: 1.875rem;
}

.item-blog__title:hover {
  text-decoration: underline;
}

.item-blog__text:not(:last-child) {
  margin-bottom: 1.3125rem;
}

.item-blog__link {
  color: #3d96f4;
}

.item-blog__link:hover {
  text-decoration: underline;
}

.start__body {
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.125rem 2.5rem;
}

.start__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  text-align: center;
}

.start__title {
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
}

.start__title:not(:last-child) {
  margin-bottom: 1rem;
}

.start__text {
  max-width: 21.25rem;
  display: inline-block;
}

.start__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 1.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 47.99875em) {
  .header-main__title {
    max-width: 32.5rem;
  }
}

@media (max-width: 1100px) {
  .main-footer__container {
    gap: 45px;
    -ms-grid-columns: minmax(auto, 378px) auto auto;
    grid-template-columns: minmax(auto, 378px) auto auto;
  }

  .main-footer__column:nth-child(1) {
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }

  .services__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .testimonials__items {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .blog__items {
    gap: 20;
  }

  .item-blog__body {
    padding: 1.5625rem 0.9375rem;
  }
}

@media (max-width: 991.98px) {
  .footer__main {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (max-width: 767.98px) {
  .footer__main {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .main-footer__container {
    gap: 35px;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
  }

  .main-footer__column:nth-child(1) {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .main-footer__column:nth-child(4) {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .bottom-footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 650px) {
  .advantages__items {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
}

@media (max-width: 620px) {
  .services__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 520px) {
  .header__logo {
    width: 42px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 42px;
            flex: 0 0 42px;
    overflow: hidden;
  }

  .cart-header__text {
    display: none;
  }

  .cart-header__quantity {
    width: 2.0625rem;
    height: 2.8125rem;
    padding-top: 0.1875rem;
    border-radius: 0;
    background: url("../img/logo/cart.svg") center/auto 100% no-repeat;
  }
}

@media (max-width: 479.98px) {
  .subscribe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 81.875em) {
  .images-why {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .advantages__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .advantages__items {
    padding-right: 0;
  }

  .advantages__image {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 68.75rem) {
  .services__header .header-main__title,
  .services__header .header-main__text {
    max-width: none;
  }
}

@media (max-width: 61.99875em) {
  .page__start {
    margin-bottom: 3.125rem;
  }

  .button {
    padding: 0.875rem 1.25rem;
  }

  .header__container {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
    min-height: 5.625rem;
  }

  .menu__list {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }

  .main {
    padding-top: 7.5rem;
    padding-bottom: 3.75rem;
  }

  .header-main__title {
    font-size: 2.75rem;
  }

  .why__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .testimonials__header {
    margin-bottom: 2.5rem;
  }

  .blog__header {
    margin-bottom: 2.75rem;
  }

  .start__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.875rem;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

@media (max-width: 47.99875em) {
  .header__container {
    min-height: 4.375rem;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    top: 0;
    left: -100%;
    padding: 6.25rem 0.9375rem 1.875rem 0.9375rem;
    overflow: auto;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    row-gap: 0.625rem;
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .menu__link {
    font-size: 2rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.875rem;
            flex: 0 0 1.875rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .main {
    padding-top: 6.25rem;
    padding-bottom: 1.875rem;
  }

  .main__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main__content {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }

  .header-main__title {
    font-size: 2rem;
  }

  .header-main__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .header-main__text {
    max-width: 31.25rem;
  }

  .header-main__text:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .header-main__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }

  .header-main__body .header-main__actions {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .item-testimonials {
    padding: 1.875rem 0.9375rem;
  }

  .blog__header {
    margin-bottom: 1.5625rem;
  }

  .blog__items {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .start__title {
    font-size: 1.5rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 38.75em) {
  .services__column {
    padding-top: 0rem;
  }
}

@media (max-width: 29.99875em) {
  .header-main .header-main__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header-main__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header-main__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .start__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 20em) and (max-width: 81.875em) {
@supports (padding-top: clamp( 1.875rem , 0.4608585859rem  +  7.0707070707vw , 6.25rem )) {
    .clients {
      padding-top: clamp( 1.875rem , 0.4608585859rem  +  7.0707070707vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.4608585859rem  +  7.0707070707vw , 6.25rem )) {
    .clients {
      padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.0669191919rem  +  4.0404040404vw , 4.375rem )) {
    .clients {
      padding-bottom: clamp( 1.875rem , 1.0669191919rem  +  4.0404040404vw , 4.375rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.0669191919rem  +  4.0404040404vw , 4.375rem )) {
    .clients {
      padding-bottom: calc(1.875rem + 2.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.7651515152rem  +  2.4242424242vw , 2.75rem )) {
    .clients__title {
      margin-bottom: clamp( 1.25rem , 0.7651515152rem  +  2.4242424242vw , 2.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.7651515152rem  +  2.4242424242vw , 2.75rem )) {
    .clients__title {
      margin-bottom: calc(1.25rem + 1.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.0669191919rem  +  4.0404040404vw , 4.375rem )) {
    .services {
      padding-top: clamp( 1.875rem , 1.0669191919rem  +  4.0404040404vw , 4.375rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.0669191919rem  +  4.0404040404vw , 4.375rem )) {
    .services {
      padding-top: calc(1.875rem + 2.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.4608585859rem  +  7.0707070707vw , 6.25rem )) {
    .services {
      padding-bottom: clamp( 1.875rem , 0.4608585859rem  +  7.0707070707vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.4608585859rem  +  7.0707070707vw , 6.25rem )) {
    .services {
      padding-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.4608585859rem  +  7.0707070707vw , 6.25rem )) {
    .why {
      padding-top: clamp( 1.875rem , 0.4608585859rem  +  7.0707070707vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.4608585859rem  +  7.0707070707vw , 6.25rem )) {
    .why {
      padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.4608585859rem  +  7.0707070707vw , 6.25rem )) {
    .why {
      padding-bottom: clamp( 1.875rem , 0.4608585859rem  +  7.0707070707vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.4608585859rem  +  7.0707070707vw , 6.25rem )) {
    .why {
      padding-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.4608585859rem  +  7.0707070707vw , 6.25rem )) {
    .advantages {
      padding-top: clamp( 1.875rem , 0.4608585859rem  +  7.0707070707vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.4608585859rem  +  7.0707070707vw , 6.25rem )) {
    .advantages {
      padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.4608585859rem  +  7.0707070707vw , 6.25rem )) {
    .advantages {
      padding-bottom: clamp( 1.875rem , 0.4608585859rem  +  7.0707070707vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.4608585859rem  +  7.0707070707vw , 6.25rem )) {
    .advantages {
      padding-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.4608585859rem  +  7.0707070707vw , 6.25rem )) {
    .testimonials {
      padding-top: clamp( 1.875rem , 0.4608585859rem  +  7.0707070707vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.4608585859rem  +  7.0707070707vw , 6.25rem )) {
    .testimonials {
      padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.4608585859rem  +  7.0707070707vw , 6.25rem )) {
    .testimonials {
      padding-bottom: clamp( 1.875rem , 0.4608585859rem  +  7.0707070707vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.4608585859rem  +  7.0707070707vw , 6.25rem )) {
    .testimonials {
      padding-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.4608585859rem  +  7.0707070707vw , 6.25rem )) {
    .blog {
      padding-top: clamp( 1.875rem , 0.4608585859rem  +  7.0707070707vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.4608585859rem  +  7.0707070707vw , 6.25rem )) {
    .blog {
      padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 2.1148989899rem  +  5.0505050505vw , 6.25rem )) {
    .blog {
      padding-bottom: clamp( 3.125rem , 2.1148989899rem  +  5.0505050505vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.1148989899rem  +  5.0505050505vw , 6.25rem )) {
    .blog {
      padding-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 61.875);
    }
}
}